form{
    width: 24%;
    background-color: #fffdf2;
    padding: 50px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 10px 10px 12px grey;
}
#buttonSubmit{
    width: 100%;
    border: none;
    border-radius: 50px;
}

#loginLink{
    text-align: center;
    margin-top: 9px;
}